<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Arbitrage</title>
        <script src="/js/socket.io.js"></script>
        <script>
            function updateArbitrage(data) {
                document.getElementById('arbitrage').innerHTML = data;
            }
            
            var socket = io.connect('http://localhost:3001');
            socket.on('connect', function(data){
                console.log(data);
                socket.emit('arbitrage', 'index');
                
                socket.on('arbitrage', updateArbitrage)
            });
        </script>
    </head>
    <body>
        <h1>Arbitrage</h1>
        <div id="arbitrage">
            
        </div>
    </body>
</html>