<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Bittrex Arbitrage</title>

        <script src="/js/socket.io.js"></script>
        <script src="/js/jquery.js"></script>
        <script src="/js/pager.js"></script>
        <script src="/js/form.js"></script>

        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

        <link rel="stylesheet" type="text/css" href="/css/reset.css">
        <link rel="stylesheet" type="text/css" href="/css/grid.css">
        <link rel="stylesheet" type="text/css" href="/css/button.css">
        <link rel="stylesheet" type="text/css" href="/css/form.css">
        <link rel="stylesheet" type="text/css" href="/css/tab.css">
        <link rel="stylesheet" type="text/css" href="/css/typography.css">
        <link rel="stylesheet" type="text/css" href="/css/table.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" type="text/css" href="/css/theme.css">
    </head>
    <body>
        <div class="container">
            <h1>Bittrex Arbitrage</h1>
            <div id="page"></div>
        </div>
    </body>
</html>