<div id="tab">
    <ul>
        <li data-for="routes">Routes</li>
        <li data-for="balances">Balances</li>
        <li data-for="trades">Trades</li>
        <li data-for="orders">Orders</li>
        <li data-for="currencies">Currencies</li>
        <li data-for="markets">Markets</li>
        <li data-for="config">Config</li>
    </ul>
</div>
<div id="tabContent">
    <div id="routes">
    </div>
    <div id="balances">
    </div>
    <div id="trades">
    </div>
    <div id="orders">
    </div>
    <div id="currencies">
    </div>
    <div id="markets">
    </div>
    <div id="config">
    </div>
</div>
<script src="/js/tabs.js"></script>
<script src="/js/arbitrage.js"></script>