.clear {
    clear: both;
}
.clear::after {
    clear: both;
    content: '';
    display: none;
}
[class*='col-'] {
    float: left;
    box-sizing: border-box;
}
.row {
    width: 100%;
    margin: auto;
}
.row::before {
    content: '';
    clear: both;
}
.row::after {
    content: '';
    clear: both;
    display: block;
    visibility: hidden;
}
.iz-cmsContainer {
    max-width: 1410px;
    width: 100%;
}
.iz-cmsContainer.iz-login {
    max-width: none;
    width: 100%;
}
.iz-cmsContainer.fluid {
    max-width: 100%;
}
.iz-cmsContainer::after {
    content: "";
    clear: both;
    display: block;
}
.iz-paddingTop {
    padding-top: 15px;
}
.left {
    float: left;
}
.center {
    margin: auto;
    float: none;
}
.right {
    float: right;
}

/* Padding options */
.padded-l-left {
    padding-left: 20px !important;
}
.padded-l-right {
    padding-right: 20px !important;
}
.padded-l-top {
    padding-top: 20px !important;
}
.padded-l-bottom {
    padding-bottom: 20px !important;
}

/* margin options */
.margin-l-left {
    margin-left: 10px !important;
}
.margin-l-right {
    margin-right: 10px !important;
}
.margin-l-top {
    margin-top: 10px !important;
}
.margin-l-bottom {
    margin-bottom: 10px !important;
}

/* Visibility options */
.display-l {
    visibility: visible;
}
.display-m {
    visibility: hidden;
}
.display-s {
    visibility: hidden;
}
.display-xs {
    visibility: hidden;
}

/* Columns */
.col-l-1 {
    width: 4.16%;
}
.col-l-2 {
    width: 8.33%;
}
.col-l-3 {
    width: 12.5%;
}
.col-l-4 {
    width: 16.66%;
}
.col-l-5 {
    width: 20.83%;
}
.col-l-6 {
    width: 25%;
}
.col-l-7 {
    width: 29.16%;
}
.col-l-8 {
    width: 33.33%;
}
.col-l-9 {
    width: 37.5%;
}
.col-l-10 {
    width: 41.66%;
}
.col-l-11 {
    width: 45.83%;
}
.col-l-12 {
    width: 50%;
}
.col-l-13 {
    width: 54.16%;
}
.col-l-14 {
    width: 58.33%;
}
.col-l-15 {
    width: 62.5%;
}
.col-l-16 {
    width: 66.66%;
}
.col-l-17 {
    width: 70.83%;
}
.col-l-18 {
    width: 75%;
}
.col-l-19 {
    width: 79.16%;
}
.col-l-20 {
    width: 83.33%;
}
.col-l-21 {
    width: 87.5%;
}
.col-l-22 {
    width: 91.66%;
}
.col-l-23 {
    width: 95.83%;
}
.col-l-24 {
    width: 100%;
}

/* Pushing */
.push-l-0 {
    margin-left: 0%;
}
.push-l-1 {
    margin-left: 4.16%;
}
.push-l-2 {
    margin-left: 8.33%;
}
.push-l-3 {
    margin-left: 12.5%;
}
.push-l-4 {
    margin-left: 16.66%;
}
.push-l-5 {
    margin-left: 20.83%;
}
.push-l-6 {
    margin-left: 25%;
}
.push-l-7 {
    margin-left: 29.16%;
}
.push-l-8 {
    margin-left: 33.33%;
}
.push-l-9 {
    margin-left: 37.5%;
}
.push-l-10 {
    margin-left: 41.66%;
}
.push-l-11 {
    margin-left: 45.83%;
}
.push-l-12 {
    margin-left: 50%;
}
.push-l-13 {
    margin-left: 54.16%;
}
.push-l-14 {
    margin-left: 58.33%;
}
.push-l-15 {
    margin-left: 62.5%;
}
.push-l-16 {
    margin-left: 66.66%;
}
.push-l-17 {
    margin-left: 70.83%;
}
.push-l-18 {
    margin-left: 75%;
}
.push-l-19 {
    margin-left: 79.16%;
}
.push-l-20 {
    margin-left: 83.33%;
}
.push-l-21 {
    margin-left: 87.5%;
}
.push-l-22 {
    margin-left: 91.66%;
}
.push-l-23 {
    margin-left: 95.83%;
}
.push-l-24 {
    margin-left: 100%;
}

@media (max-width: 1023px) {

    /* Padding options */
    .padded-m-left {
        padding-left: 20px !important;
    }
    .padded-m-right {
        padding-right: 20px !important;
    }
    .padded-m-top {
        padding-top: 20px !important;
    }
    .padded-m-bottom {
        padding-bottom: 20px !important;
    }

    /* Visibility options */
    .display-l {
        visibility: hidden;
    }
    .display-s {
        visibility: hidden;
    }
    .display-xs {
        visibility: hidden;
    }
    .display-m {
        visibility: visible;
    }

    /* Columns */
    .col-m-1 {
        width: 4.16%;
    }
    .col-m-2 {
        width: 8.33%;
    }
    .col-m-3 {
        width: 12.5%;
    }
    .col-m-4 {
        width: 16.66%;
    }
    .col-m-5 {
        width: 20.83%;
    }
    .col-m-6 {
        width: 25%;
    }
    .col-m-7 {
        width: 29.16%;
    }
    .col-m-8 {
        width: 33.33%;
    }
    .col-m-9 {
        width: 37.5%;
    }
    .col-m-10 {
        width: 41.66%;
    }
    .col-m-11 {
        width: 45.83%;
    }
    .col-m-12 {
        width: 50%;
    }
    .col-m-13 {
        width: 54.16%;
    }
    .col-m-14 {
        width: 58.33%;
    }
    .col-m-15 {
        width: 62.5%;
    }
    .col-m-16 {
        width: 66.66%;
    }
    .col-m-17 {
        width: 70.83%;
    }
    .col-m-18 {
        width: 75%;
    }
    .col-m-19 {
        width: 79.16%;
    }
    .col-m-20 {
        width: 83.33%;
    }
    .col-m-21 {
        width: 87.5%;
    }
    .col-m-22 {
        width: 91.66%;
    }
    .col-m-23 {
        width: 95.83%;
    }
    .col-m-24 {
        width: 100%;
    }

    /* Pushing */
    .push-m-0 {
        margin-left: 0%;
    }
    .push-m-1 {
        margin-left: 4.16%;
    }
    .push-m-2 {
        margin-left: 8.33%;
    }
    .push-m-3 {
        margin-left: 12.5%;
    }
    .push-m-4 {
        margin-left: 16.66%;
    }
    .push-m-5 {
        margin-left: 20.83%;
    }
    .push-m-6 {
        margin-left: 25%;
    }
    .push-m-7 {
        margin-left: 29.16%;
    }
    .push-m-8 {
        margin-left: 33.33%;
    }
    .push-m-9 {
        margin-left: 37.5%;
    }
    .push-m-10 {
        margin-left: 41.66%;
    }
    .push-m-11 {
        margin-left: 45.83%;
    }
    .push-m-12 {
        margin-left: 50%;
    }
    .push-m-13 {
        margin-left: 54.16%;
    }
    .push-m-14 {
        margin-left: 58.33%;
    }
    .push-m-15 {
        margin-left: 62.5%;
    }
    .push-m-16 {
        margin-left: 66.66%;
    }
    .push-m-17 {
        margin-left: 70.83%;
    }
    .push-m-18 {
        margin-left: 75%;
    }
    .push-m-19 {
        margin-left: 79.16%;
    }
    .push-m-20 {
        margin-left: 83.33%;
    }
    .push-m-21 {
        margin-left: 87.5%;
    }
    .push-m-22 {
        margin-left: 91.66%;
    }
    .push-m-23 {
        margin-left: 95.83%;
    }
    .push-m-24 {
        margin-left: 100%;
    }
}
@media (max-width: 560px) {
    /* Padding options */
    .padded-s-left {
        padding-left: 20px !important;
    }
    .padded-s-right {
        padding-right: 20px !important;
    }
    .padded-s-top {
        padding-top: 20px !important;
    }
    .padded-s-bottom {
        padding-bottom: 20px !important;
    }

    /* Visibility options */
    .display-l {
        visibility: hidden;
    }
    .display-m {
        visibility: hidden;
    }
    .display-xs {
        visibility: hidden;
    }
    .display-s {
        visibility: visible;
    }

    /* Columns */
    .col-s-1 {
        width: 4.16%;
    }
    .col-s-2 {
        width: 8.33%;
    }
    .col-s-3 {
        width: 12.5%;
    }
    .col-s-4 {
        width: 16.66%;
    }
    .col-s-5 {
        width: 20.83%;
    }
    .col-s-6 {
        width: 25%;
    }
    .col-s-7 {
        width: 29.16%;
    }
    .col-s-8 {
        width: 33.33%;
    }
    .col-s-9 {
        width: 37.5%;
    }
    .col-s-10 {
        width: 41.66%;
    }
    .col-s-11 {
        width: 45.83%;
    }
    .col-s-12 {
        width: 50%;
    }
    .col-s-13 {
        width: 54.16%;
    }
    .col-s-14 {
        width: 58.33%;
    }
    .col-s-15 {
        width: 62.5%;
    }
    .col-s-16 {
        width: 66.66%;
    }
    .col-s-17 {
        width: 70.83%;
    }
    .col-s-18 {
        width: 75%;
    }
    .col-s-19 {
        width: 79.16%;
    }
    .col-s-20 {
        width: 83.33%;
    }
    .col-s-21 {
        width: 87.5%;
    }
    .col-s-22 {
        width: 91.66%;
    }
    .col-s-23 {
        width: 95.83%;
    }
    .col-s-24 {
        width: 100%;
    }

    /* Pushing */
    .push-s-0 {
        margin-left: 0%;
    }
    .push-s-1 {
        margin-left: 4.16%;
    }
    .push-s-2 {
        margin-left: 8.33%;
    }
    .push-s-3 {
        margin-left: 12.5%;
    }
    .push-s-4 {
        margin-left: 16.66%;
    }
    .push-s-5 {
        margin-left: 20.83%;
    }
    .push-s-6 {
        margin-left: 25%;
    }
    .push-s-7 {
        margin-left: 29.16%;
    }
    .push-s-8 {
        margin-left: 33.33%;
    }
    .push-s-9 {
        margin-left: 37.5%;
    }
    .push-s-10 {
        margin-left: 41.66%;
    }
    .push-s-11 {
        margin-left: 45.83%;
    }
    .push-s-12 {
        margin-left: 50%;
    }
    .push-s-13 {
        margin-left: 54.16%;
    }
    .push-s-14 {
        margin-left: 58.33%;
    }
    .push-s-15 {
        margin-left: 62.5%;
    }
    .push-s-16 {
        margin-left: 66.66%;
    }
    .push-s-17 {
        margin-left: 70.83%;
    }
    .push-s-18 {
        margin-left: 75%;
    }
    .push-s-19 {
        margin-left: 79.16%;
    }
    .push-s-20 {
        margin-left: 83.33%;
    }
    .push-s-21 {
        margin-left: 87.5%;
    }
    .push-s-22 {
        margin-left: 91.66%;
    }
    .push-s-23 {
        margin-left: 95.83%;
    }
    .push-s-24 {
        margin-left: 100%;
    }
}
@media (max-width: 424px) {
    /* Padding options */
    .padded-xs-left {
        padding-left: 20px !important;
    }
    .padded-xs-right {
        padding-right: 20px !important;
    }
    .padded-xs-top {
        padding-top: 20px !important;
    }
    .padded-xs-bottom {
        padding-bottom: 20px !important;
    }

    /* Visibility options */
    .display-l {
        visibility: hidden;
    }
    .display-m {
        visibility: hidden;
    }
    .display-s {
        visibility: hidden;
    }
    .display-xs {
        visibility: visible;
    }

    /* Columns */
    .col-xs-1 {
        width: 4.16%;
    }
    .col-xs-2 {
        width: 8.33%;
    }
    .col-xs-3 {
        width: 12.5%;
    }
    .col-xs-4 {
        width: 16.66%;
    }
    .col-xs-5 {
        width: 20.83%;
    }
    .col-xs-6 {
        width: 25%;
    }
    .col-xs-7 {
        width: 29.16%;
    }
    .col-xs-8 {
        width: 33.33%;
    }
    .col-xs-9 {
        width: 37.5%;
    }
    .col-xs-10 {
        width: 41.66%;
    }
    .col-xs-11 {
        width: 45.83%;
    }
    .col-xs-12 {
        width: 50%;
    }
    .col-xs-13 {
        width: 54.16%;
    }
    .col-xs-14 {
        width: 58.33%;
    }
    .col-xs-15 {
        width: 62.5%;
    }
    .col-xs-16 {
        width: 66.66%;
    }
    .col-xs-17 {
        width: 70.83%;
    }
    .col-xs-18 {
        width: 75%;
    }
    .col-xs-19 {
        width: 79.16%;
    }
    .col-xs-20 {
        width: 83.33%;
    }
    .col-xs-21 {
        width: 87.5%;
    }
    .col-xs-22 {
        width: 91.66%;
    }
    .col-xs-23 {
        width: 95.83%;
    }
    .col-xs-24 {
        width: 100%;
    }

    /* Pushing */
    .push-xs-0 {
        margin-left: 0%;
    }
    .push-xs-1 {
        margin-left: 4.16%;
    }
    .push-xs-2 {
        margin-left: 8.33%;
    }
    .push-xs-3 {
        margin-left: 12.5%;
    }
    .push-xs-4 {
        margin-left: 16.66%;
    }
    .push-xs-5 {
        margin-left: 20.83%;
    }
    .push-xs-6 {
        margin-left: 25%;
    }
    .push-xs-7 {
        margin-left: 29.16%;
    }
    .push-xs-8 {
        margin-left: 33.33%;
    }
    .push-xs-9 {
        margin-left: 37.5%;
    }
    .push-xs-10 {
        margin-left: 41.66%;
    }
    .push-xs-11 {
        margin-left: 45.83%;
    }
    .push-xs-12 {
        margin-left: 50%;
    }
    .push-xs-13 {
        margin-left: 54.16%;
    }
    .push-xs-14 {
        margin-left: 58.33%;
    }
    .push-xs-15 {
        margin-left: 62.5%;
    }
    .push-xs-16 {
        margin-left: 66.66%;
    }
    .push-xs-17 {
        margin-left: 70.83%;
    }
    .push-xs-18 {
        margin-left: 75%;
    }
    .push-xs-19 {
        margin-left: 79.16%;
    }
    .push-xs-20 {
        margin-left: 83.33%;
    }
    .push-xs-21 {
        margin-left: 87.5%;
    }
    .push-xs-22 {
        margin-left: 91.66%;
    }
    .push-xs-23 {
        margin-left: 95.83%;
    }
    .push-xs-24 {
        margin-left: 100%;
    }
}