.clear:after {
    clear: both;
    display: block;
    content: '';
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
}
[class*="display-"] {
    display: none;
}
[class*="display-inline-"] {
    display: none;
}
[class*="visible-"] {
    visibility: hidden;
}
[class*="invisible-"] {
    visibility: visible;
}
[class*="hidden-"] {
    display: block;
}
[class*="hidden-inline-"] {
    display: inline-block;
}
[class*="container-"] {
    margin: auto;
}
.col-0 {
    width: 0;
}
.push-0 {
    margin-left: 0;
}
.col-1 {
    width: 4.1666666666667%;
}
.push-1 {
    margin-left: 4.1666666666667%;
}
.col-2 {
    width: 8.3333333333333%;
}
.push-2 {
    margin-left: 8.3333333333333%;
}
.col-3 {
    width: 12.5%;
}
.push-3 {
    margin-left: 12.5%;
}
.col-4 {
    width: 16.666666666667%;
}
.push-4 {
    margin-left: 16.666666666667%;
}
.col-5 {
    width: 20.833333333333%;
}
.push-5 {
    margin-left: 20.833333333333%;
}
.col-6 {
    width: 25%;
}
.push-6 {
    margin-left: 25%;
}
.col-7 {
    width: 29.166666666667%;
}
.push-7 {
    margin-left: 29.166666666667%;
}
.col-8 {
    width: 33.333333333333%;
}
.push-8 {
    margin-left: 33.333333333333%;
}
.col-9 {
    width: 37.5%;
}
.push-9 {
    margin-left: 37.5%;
}
.col-10 {
    width: 41.666666666667%;
}
.push-10 {
    margin-left: 41.666666666667%;
}
.col-11 {
    width: 45.833333333333%;
}
.push-11 {
    margin-left: 45.833333333333%;
}
.col-12 {
    width: 50%;
}
.push-12 {
    margin-left: 50%;
}
.col-13 {
    width: 54.166666666667%;
}
.push-13 {
    margin-left: 54.166666666667%;
}
.col-14 {
    width: 58.333333333333%;
}
.push-14 {
    margin-left: 58.333333333333%;
}
.col-15 {
    width: 62.5%;
}
.push-15 {
    margin-left: 62.5%;
}
.col-16 {
    width: 66.666666666667%;
}
.push-16 {
    margin-left: 66.666666666667%;
}
.col-17 {
    width: 70.833333333333%;
}
.push-17 {
    margin-left: 70.833333333333%;
}
.col-18 {
    width: 75%;
}
.push-18 {
    margin-left: 75%;
}
.col-19 {
    width: 79.166666666667%;
}
.push-19 {
    margin-left: 79.166666666667%;
}
.col-20 {
    width: 83.333333333333%;
}
.push-20 {
    margin-left: 83.333333333333%;
}
.col-21 {
    width: 87.5%;
}
.push-21 {
    margin-left: 87.5%;
}
.col-22 {
    width: 91.666666666667%;
}
.push-22 {
    margin-left: 91.666666666667%;
}
.col-23 {
    width: 95.833333333333%;
}
.push-23 {
    margin-left: 95.833333333333%;
}
.col-24 {
    width: 100%;
}
.push-24 {
    margin-left: 100%;
}
@media screen and (min-width: 0) {
    .col-xs-auto {
        width: auto;
    }

    .col-xs-0 {
        width: 0;
    }

    .push-xs-0 {
        margin-left: 0;
    }

    .col-xs-1 {
        width: 4.1666666666667%;
    }

    .push-xs-1 {
        margin-left: 4.1666666666667%;
    }

    .col-xs-2 {
        width: 8.3333333333333%;
    }

    .push-xs-2 {
        margin-left: 8.3333333333333%;
    }

    .col-xs-3 {
        width: 12.5%;
    }

    .push-xs-3 {
        margin-left: 12.5%;
    }

    .col-xs-4 {
        width: 16.666666666667%;
    }

    .push-xs-4 {
        margin-left: 16.666666666667%;
    }

    .col-xs-5 {
        width: 20.833333333333%;
    }

    .push-xs-5 {
        margin-left: 20.833333333333%;
    }

    .col-xs-6 {
        width: 25%;
    }

    .push-xs-6 {
        margin-left: 25%;
    }

    .col-xs-7 {
        width: 29.166666666667%;
    }

    .push-xs-7 {
        margin-left: 29.166666666667%;
    }

    .col-xs-8 {
        width: 33.333333333333%;
    }

    .push-xs-8 {
        margin-left: 33.333333333333%;
    }

    .col-xs-9 {
        width: 37.5%;
    }

    .push-xs-9 {
        margin-left: 37.5%;
    }

    .col-xs-10 {
        width: 41.666666666667%;
    }

    .push-xs-10 {
        margin-left: 41.666666666667%;
    }

    .col-xs-11 {
        width: 45.833333333333%;
    }

    .push-xs-11 {
        margin-left: 45.833333333333%;
    }

    .col-xs-12 {
        width: 50%;
    }

    .push-xs-12 {
        margin-left: 50%;
    }

    .col-xs-13 {
        width: 54.166666666667%;
    }

    .push-xs-13 {
        margin-left: 54.166666666667%;
    }

    .col-xs-14 {
        width: 58.333333333333%;
    }

    .push-xs-14 {
        margin-left: 58.333333333333%;
    }

    .col-xs-15 {
        width: 62.5%;
    }

    .push-xs-15 {
        margin-left: 62.5%;
    }

    .col-xs-16 {
        width: 66.666666666667%;
    }

    .push-xs-16 {
        margin-left: 66.666666666667%;
    }

    .col-xs-17 {
        width: 70.833333333333%;
    }

    .push-xs-17 {
        margin-left: 70.833333333333%;
    }

    .col-xs-18 {
        width: 75%;
    }

    .push-xs-18 {
        margin-left: 75%;
    }

    .col-xs-19 {
        width: 79.166666666667%;
    }

    .push-xs-19 {
        margin-left: 79.166666666667%;
    }

    .col-xs-20 {
        width: 83.333333333333%;
    }

    .push-xs-20 {
        margin-left: 83.333333333333%;
    }

    .col-xs-21 {
        width: 87.5%;
    }

    .push-xs-21 {
        margin-left: 87.5%;
    }

    .col-xs-22 {
        width: 91.666666666667%;
    }

    .push-xs-22 {
        margin-left: 91.666666666667%;
    }

    .col-xs-23 {
        width: 95.833333333333%;
    }

    .push-xs-23 {
        margin-left: 95.833333333333%;
    }

    .col-xs-24 {
        width: 100%;
    }

    .push-xs-24 {
        margin-left: 100%;
    }

    .visible-xs {
        visibility: visible;
    }

    .invisible-xs {
        visibility: hidden;
    }

    .display-xs {
        display: block;
    }

    .display-inline-xs {
        display: inline-block;
    }

    .hidden-xs {
        display: none;
    }

    .hidden-inline-xs {
        display: none;
    }

    .flex-xs {
        display: flex;
    }
}
@media screen and (min-width: 480px) {
    .col-s-auto {
        width: auto;
    }

    .col-s-0 {
        width: 0;
    }

    .push-s-0 {
        margin-left: 0;
    }

    .col-s-1 {
        width: 4.1666666666667%;
    }

    .push-s-1 {
        margin-left: 4.1666666666667%;
    }

    .col-s-2 {
        width: 8.3333333333333%;
    }

    .push-s-2 {
        margin-left: 8.3333333333333%;
    }

    .col-s-3 {
        width: 12.5%;
    }

    .push-s-3 {
        margin-left: 12.5%;
    }

    .col-s-4 {
        width: 16.666666666667%;
    }

    .push-s-4 {
        margin-left: 16.666666666667%;
    }

    .col-s-5 {
        width: 20.833333333333%;
    }

    .push-s-5 {
        margin-left: 20.833333333333%;
    }

    .col-s-6 {
        width: 25%;
    }

    .push-s-6 {
        margin-left: 25%;
    }

    .col-s-7 {
        width: 29.166666666667%;
    }

    .push-s-7 {
        margin-left: 29.166666666667%;
    }

    .col-s-8 {
        width: 33.333333333333%;
    }

    .push-s-8 {
        margin-left: 33.333333333333%;
    }

    .col-s-9 {
        width: 37.5%;
    }

    .push-s-9 {
        margin-left: 37.5%;
    }

    .col-s-10 {
        width: 41.666666666667%;
    }

    .push-s-10 {
        margin-left: 41.666666666667%;
    }

    .col-s-11 {
        width: 45.833333333333%;
    }

    .push-s-11 {
        margin-left: 45.833333333333%;
    }

    .col-s-12 {
        width: 50%;
    }

    .push-s-12 {
        margin-left: 50%;
    }

    .col-s-13 {
        width: 54.166666666667%;
    }

    .push-s-13 {
        margin-left: 54.166666666667%;
    }

    .col-s-14 {
        width: 58.333333333333%;
    }

    .push-s-14 {
        margin-left: 58.333333333333%;
    }

    .col-s-15 {
        width: 62.5%;
    }

    .push-s-15 {
        margin-left: 62.5%;
    }

    .col-s-16 {
        width: 66.666666666667%;
    }

    .push-s-16 {
        margin-left: 66.666666666667%;
    }

    .col-s-17 {
        width: 70.833333333333%;
    }

    .push-s-17 {
        margin-left: 70.833333333333%;
    }

    .col-s-18 {
        width: 75%;
    }

    .push-s-18 {
        margin-left: 75%;
    }

    .col-s-19 {
        width: 79.166666666667%;
    }

    .push-s-19 {
        margin-left: 79.166666666667%;
    }

    .col-s-20 {
        width: 83.333333333333%;
    }

    .push-s-20 {
        margin-left: 83.333333333333%;
    }

    .col-s-21 {
        width: 87.5%;
    }

    .push-s-21 {
        margin-left: 87.5%;
    }

    .col-s-22 {
        width: 91.666666666667%;
    }

    .push-s-22 {
        margin-left: 91.666666666667%;
    }

    .col-s-23 {
        width: 95.833333333333%;
    }

    .push-s-23 {
        margin-left: 95.833333333333%;
    }

    .col-s-24 {
        width: 100%;
    }

    .push-s-24 {
        margin-left: 100%;
    }

    .visible-s {
        visibility: visible;
    }

    .invisible-s {
        visibility: hidden;
    }

    .display-s {
        display: block;
    }

    .display-inline-s {
        display: inline-block;
    }

    .hidden-s {
        display: none;
    }

    .hidden-inline-s {
        display: none;
    }

    .flex-s {
        display: flex;
    }
}
@media screen and (min-width: 768px) {
    .col-m-auto {
        width: auto;
    }

    .col-m-0 {
        width: 0;
    }

    .push-m-0 {
        margin-left: 0;
    }

    .col-m-1 {
        width: 4.1666666666667%;
    }

    .push-m-1 {
        margin-left: 4.1666666666667%;
    }

    .col-m-2 {
        width: 8.3333333333333%;
    }

    .push-m-2 {
        margin-left: 8.3333333333333%;
    }

    .col-m-3 {
        width: 12.5%;
    }

    .push-m-3 {
        margin-left: 12.5%;
    }

    .col-m-4 {
        width: 16.666666666667%;
    }

    .push-m-4 {
        margin-left: 16.666666666667%;
    }

    .col-m-5 {
        width: 20.833333333333%;
    }

    .push-m-5 {
        margin-left: 20.833333333333%;
    }

    .col-m-6 {
        width: 25%;
    }

    .push-m-6 {
        margin-left: 25%;
    }

    .col-m-7 {
        width: 29.166666666667%;
    }

    .push-m-7 {
        margin-left: 29.166666666667%;
    }

    .col-m-8 {
        width: 33.333333333333%;
    }

    .push-m-8 {
        margin-left: 33.333333333333%;
    }

    .col-m-9 {
        width: 37.5%;
    }

    .push-m-9 {
        margin-left: 37.5%;
    }

    .col-m-10 {
        width: 41.666666666667%;
    }

    .push-m-10 {
        margin-left: 41.666666666667%;
    }

    .col-m-11 {
        width: 45.833333333333%;
    }

    .push-m-11 {
        margin-left: 45.833333333333%;
    }

    .col-m-12 {
        width: 50%;
    }

    .push-m-12 {
        margin-left: 50%;
    }

    .col-m-13 {
        width: 54.166666666667%;
    }

    .push-m-13 {
        margin-left: 54.166666666667%;
    }

    .col-m-14 {
        width: 58.333333333333%;
    }

    .push-m-14 {
        margin-left: 58.333333333333%;
    }

    .col-m-15 {
        width: 62.5%;
    }

    .push-m-15 {
        margin-left: 62.5%;
    }

    .col-m-16 {
        width: 66.666666666667%;
    }

    .push-m-16 {
        margin-left: 66.666666666667%;
    }

    .col-m-17 {
        width: 70.833333333333%;
    }

    .push-m-17 {
        margin-left: 70.833333333333%;
    }

    .col-m-18 {
        width: 75%;
    }

    .push-m-18 {
        margin-left: 75%;
    }

    .col-m-19 {
        width: 79.166666666667%;
    }

    .push-m-19 {
        margin-left: 79.166666666667%;
    }

    .col-m-20 {
        width: 83.333333333333%;
    }

    .push-m-20 {
        margin-left: 83.333333333333%;
    }

    .col-m-21 {
        width: 87.5%;
    }

    .push-m-21 {
        margin-left: 87.5%;
    }

    .col-m-22 {
        width: 91.666666666667%;
    }

    .push-m-22 {
        margin-left: 91.666666666667%;
    }

    .col-m-23 {
        width: 95.833333333333%;
    }

    .push-m-23 {
        margin-left: 95.833333333333%;
    }

    .col-m-24 {
        width: 100%;
    }

    .push-m-24 {
        margin-left: 100%;
    }

    .visible-m {
        visibility: visible;
    }

    .invisible-m {
        visibility: hidden;
    }

    .display-m {
        display: block;
    }

    .display-inline-m {
        display: inline-block;
    }

    .hidden-m {
        display: none;
    }

    .hidden-inline-m {
        display: none;
    }

    .flex-m {
        display: flex;
    }
}
@media screen and (min-width: 1024px) {
    .col-l-auto {
        width: auto;
    }

    .col-l-0 {
        width: 0;
    }

    .push-l-0 {
        margin-left: 0;
    }

    .col-l-1 {
        width: 4.1666666666667%;
    }

    .push-l-1 {
        margin-left: 4.1666666666667%;
    }

    .col-l-2 {
        width: 8.3333333333333%;
    }

    .push-l-2 {
        margin-left: 8.3333333333333%;
    }

    .col-l-3 {
        width: 12.5%;
    }

    .push-l-3 {
        margin-left: 12.5%;
    }

    .col-l-4 {
        width: 16.666666666667%;
    }

    .push-l-4 {
        margin-left: 16.666666666667%;
    }

    .col-l-5 {
        width: 20.833333333333%;
    }

    .push-l-5 {
        margin-left: 20.833333333333%;
    }

    .col-l-6 {
        width: 25%;
    }

    .push-l-6 {
        margin-left: 25%;
    }

    .col-l-7 {
        width: 29.166666666667%;
    }

    .push-l-7 {
        margin-left: 29.166666666667%;
    }

    .col-l-8 {
        width: 33.333333333333%;
    }

    .push-l-8 {
        margin-left: 33.333333333333%;
    }

    .col-l-9 {
        width: 37.5%;
    }

    .push-l-9 {
        margin-left: 37.5%;
    }

    .col-l-10 {
        width: 41.666666666667%;
    }

    .push-l-10 {
        margin-left: 41.666666666667%;
    }

    .col-l-11 {
        width: 45.833333333333%;
    }

    .push-l-11 {
        margin-left: 45.833333333333%;
    }

    .col-l-12 {
        width: 50%;
    }

    .push-l-12 {
        margin-left: 50%;
    }

    .col-l-13 {
        width: 54.166666666667%;
    }

    .push-l-13 {
        margin-left: 54.166666666667%;
    }

    .col-l-14 {
        width: 58.333333333333%;
    }

    .push-l-14 {
        margin-left: 58.333333333333%;
    }

    .col-l-15 {
        width: 62.5%;
    }

    .push-l-15 {
        margin-left: 62.5%;
    }

    .col-l-16 {
        width: 66.666666666667%;
    }

    .push-l-16 {
        margin-left: 66.666666666667%;
    }

    .col-l-17 {
        width: 70.833333333333%;
    }

    .push-l-17 {
        margin-left: 70.833333333333%;
    }

    .col-l-18 {
        width: 75%;
    }

    .push-l-18 {
        margin-left: 75%;
    }

    .col-l-19 {
        width: 79.166666666667%;
    }

    .push-l-19 {
        margin-left: 79.166666666667%;
    }

    .col-l-20 {
        width: 83.333333333333%;
    }

    .push-l-20 {
        margin-left: 83.333333333333%;
    }

    .col-l-21 {
        width: 87.5%;
    }

    .push-l-21 {
        margin-left: 87.5%;
    }

    .col-l-22 {
        width: 91.666666666667%;
    }

    .push-l-22 {
        margin-left: 91.666666666667%;
    }

    .col-l-23 {
        width: 95.833333333333%;
    }

    .push-l-23 {
        margin-left: 95.833333333333%;
    }

    .col-l-24 {
        width: 100%;
    }

    .push-l-24 {
        margin-left: 100%;
    }

    .visible-l {
        visibility: visible;
    }

    .invisible-l {
        visibility: hidden;
    }

    .display-l {
        display: block;
    }

    .display-inline-l {
        display: inline-block;
    }

    .hidden-l {
        display: none;
    }

    .hidden-inline-l {
        display: none;
    }

    .flex-l {
        display: flex;
    }
}
@media screen and (min-width: 1280px) {
    .col-xl-auto {
        width: auto;
    }

    .col-xl-0 {
        width: 0;
    }

    .push-xl-0 {
        margin-left: 0;
    }

    .col-xl-1 {
        width: 4.1666666666667%;
    }

    .push-xl-1 {
        margin-left: 4.1666666666667%;
    }

    .col-xl-2 {
        width: 8.3333333333333%;
    }

    .push-xl-2 {
        margin-left: 8.3333333333333%;
    }

    .col-xl-3 {
        width: 12.5%;
    }

    .push-xl-3 {
        margin-left: 12.5%;
    }

    .col-xl-4 {
        width: 16.666666666667%;
    }

    .push-xl-4 {
        margin-left: 16.666666666667%;
    }

    .col-xl-5 {
        width: 20.833333333333%;
    }

    .push-xl-5 {
        margin-left: 20.833333333333%;
    }

    .col-xl-6 {
        width: 25%;
    }

    .push-xl-6 {
        margin-left: 25%;
    }

    .col-xl-7 {
        width: 29.166666666667%;
    }

    .push-xl-7 {
        margin-left: 29.166666666667%;
    }

    .col-xl-8 {
        width: 33.333333333333%;
    }

    .push-xl-8 {
        margin-left: 33.333333333333%;
    }

    .col-xl-9 {
        width: 37.5%;
    }

    .push-xl-9 {
        margin-left: 37.5%;
    }

    .col-xl-10 {
        width: 41.666666666667%;
    }

    .push-xl-10 {
        margin-left: 41.666666666667%;
    }

    .col-xl-11 {
        width: 45.833333333333%;
    }

    .push-xl-11 {
        margin-left: 45.833333333333%;
    }

    .col-xl-12 {
        width: 50%;
    }

    .push-xl-12 {
        margin-left: 50%;
    }

    .col-xl-13 {
        width: 54.166666666667%;
    }

    .push-xl-13 {
        margin-left: 54.166666666667%;
    }

    .col-xl-14 {
        width: 58.333333333333%;
    }

    .push-xl-14 {
        margin-left: 58.333333333333%;
    }

    .col-xl-15 {
        width: 62.5%;
    }

    .push-xl-15 {
        margin-left: 62.5%;
    }

    .col-xl-16 {
        width: 66.666666666667%;
    }

    .push-xl-16 {
        margin-left: 66.666666666667%;
    }

    .col-xl-17 {
        width: 70.833333333333%;
    }

    .push-xl-17 {
        margin-left: 70.833333333333%;
    }

    .col-xl-18 {
        width: 75%;
    }

    .push-xl-18 {
        margin-left: 75%;
    }

    .col-xl-19 {
        width: 79.166666666667%;
    }

    .push-xl-19 {
        margin-left: 79.166666666667%;
    }

    .col-xl-20 {
        width: 83.333333333333%;
    }

    .push-xl-20 {
        margin-left: 83.333333333333%;
    }

    .col-xl-21 {
        width: 87.5%;
    }

    .push-xl-21 {
        margin-left: 87.5%;
    }

    .col-xl-22 {
        width: 91.666666666667%;
    }

    .push-xl-22 {
        margin-left: 91.666666666667%;
    }

    .col-xl-23 {
        width: 95.833333333333%;
    }

    .push-xl-23 {
        margin-left: 95.833333333333%;
    }

    .col-xl-24 {
        width: 100%;
    }

    .push-xl-24 {
        margin-left: 100%;
    }

    .visible-xl {
        visibility: visible;
    }

    .invisible-xl {
        visibility: hidden;
    }

    .display-xl {
        display: block;
    }

    .display-inline-xl {
        display: inline-block;
    }

    .hidden-xl {
        display: none;
    }

    .hidden-inline-xl {
        display: none;
    }

    .flex-xl {
        display: flex;
    }
}