img {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 30px;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #222F52;
    box-shadow: 0px 2px 40px 5px rgba(0,0,0,0.75);
    border-radius: 20px;
    overflow: auto;
}

input [type='submit'] {
    font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}