table tr td {
    padding: 5px;
    font-size: 0.8em;
}
.table-container {
    max-height: 600px;
    overflow-y: scroll;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table tr th {
    color: #8A98C9;
    text-align: center;
    font-weight: lighter;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: #404D7A 1px solid;
    padding: 10px;

}
table tr td {
    color: #FFF;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    vertical-align: middle;
}

table tr td:first-child {
    border-radius: 20px 0px 0px 20px;
}
table tr td:last-child {
    border-radius: 0px 20px 20px 0px;
}
table tr:nth-child(2n+3) {
    background: #333B60;
}
table tr td table tr:nth-child(2n+3) {
    background: none;
}
table tr td table tr td {
    padding: 0px;
}
table tr:not(:has(th)) {
    cursor: pointer;
}
table tr:not(:has(th)):hover {
    background: #404D7A;
}