* {
    font-family: sans-serif;
}
span, label {
    color: #CCC;
}
p {
    color: #FFF;
}
h1 {
    font-size: 38px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #61FCA1;
    text-align: center;

}
h2 {
    margin-top: 10px;
    margin-bottom: 30px;
    color: #8A98C9;
}
h3 {
    margin-top: 10px;
    margin-bottom: 30px;
    color: #8A98C9;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}