<form action="/config/config" method="post" id="configConfig">
    <div class="row">
        <div class="col-xs-12 push-xs-6">
        <h2>Strategy Settings</h2>
            <div class="row">
                <div class="col-xs-6">
                    <label for="trade" class="text-left">Enable trade</label>
                </div>
                <div class="col-xs-2">
                    <input type="hidden" name="trade" value="false">
                    <input type="checkbox" name="trade" id="trade" value="true" <%= route.config('trade') ? 'checked="checked"' : '' %>>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label for="profitAllThree" class="text-left">Profit all three</label>
                </div>
                <div class="col-xs-2">
                    <input type="hidden" name="profitAllThree" value="false">
                    <input type="checkbox" name="profitAllThree" value="true" id="profitAllThree" <%= route.config('profitAllThree') ? 'checked="checked"' : '' %>>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label for="minInputBtc" class="text-left">Input BTC</label>
                </div>
                <div class="col-xs-6">
                    <input type="text" name="minInputBtc" id="minInputBtc" value="<%= route.config('minInputBtc') %>">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label for="minProfitFactor" class="text-left">Min profit factor</label>
                </div>
                <div class="col-xs-6">
                    <input type="text" name="minProfitFactor" id="minProfitFactor" value="<%= route.config('minProfitFactor') %>">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label for="mode" class="text-left">Mode</label>
                </div>
                <div class="col-xs-6">
                    <select name="mode" id="mode" onchange="if($(this).val() === 'fixed') { $('#fixedRow').show(); } else { $('#fixedRow').hide(); }">
                        <option value="market" <%= delta.config('mode') === 'market' ? 'selected="selected"' : '' %>>market</option>
                        <option value="potential" <%= delta.config('mode') === 'potential' ? 'selected="selected"' : '' %>>potential</option>
                        <option value="median" <%= delta.config('mode') === 'median' ? 'selected="selected"' : '' %>>median</option>
                        <option value="last" <%= delta.config('mode') === 'last' ? 'selected="selected"' : '' %>>last</option>
                        <option value="fixed" <%= delta.config('mode') === 'fixed' ? 'selected="selected"' : '' %>>fixed</option>
                    </select>
                </div>
            </div>
            <div class="row" style="display: <%= delta.config('mode') === 'fixed' ? 'block' : 'none' %>" id="fixedRow">
                <div class="col-xs-6">
                    <label for="fix" class="text-left">Fix</label>
                </div>
                <div class="col-xs-6">
                    <input type="text" name="fix"value="<%= delta.config('fix') %>" id="fix">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 push-xs-20">
                    <input type="submit" value="Update settings">
                </div>
            </div>
        </div>
    </div>
</form>