<form action="/config/config" method="post" id="configConfig">
    <h2>Config</h2>
    <div class="row">
        <div class="col-xs-12 push-xs-6">
            <div class="row">
                <div class="col-xs-6">
                    <label for="trade" class="text-left">Enable trade</label>
                </div>
                <div class="col-xs-18">
                    <input type="hidden" name="trade" value="false">
                    <input type="checkbox" name="trade" id="trade" value="true" <%= route.config('trade') ? 'checked="checked"' : '' %>>
                </div>
                <div class="col-xs-24">
                    <label for="minInputBtc" class="text-left">Input BTC</label>
                    <input type="text" name="minInputBtc" id="minInputBtc" value="<%= route.config('minInputBtc') %>">
                </div>
                <div class="col-xs-24">
                    <label for="minProfitFactor" class="text-left">Min profit factor</label>
                    <input type="text" name="minProfitFactor" id="minProfitFactor" value="<%= route.config('minProfitFactor') %>">
                </div>
                <div class="col-xs-6">
                    <label for="profitAllThree" class="text-left">Profit all three</label>
                </div>
                <div class="col-xs-18">
                    
                    <input type="hidden" name="profitAllThree" value="false">
                    <input type="checkbox" name="profitAllThree" value="true" id="profitAllThree" <%= route.config('profitAllThree') ? 'checked="checked"' : '' %>>
                </div>
                <div class="col-xs-24">
                    <label for="mode" class="text-left">Mode</label>
                    <select name="mode" id="mode">
                        <option value="instant" <%= delta.config('mode') === 'instant' ? 'selected="selected"' : '' %>>instant</option>
                        <option value="potential" <%= delta.config('mode') === 'potential' ? 'selected="selected"' : '' %>>potential</option>
                        <option value="median" <%= delta.config('mode') === 'median' ? 'selected="selected"' : '' %>>median</option>
                        <option value="fixed" <%= delta.config('mode') === 'fixed' ? 'selected="selected"' : '' %>>fixed</option>
                    </select>
                </div>
                <div class="col-xs-24">
                    <label for="fix" class="text-left">Fix</label>
                    <input type="text" name="fix" value="<%= delta.config('minProfitFactor') %>" id="fix">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 push-xs-20">
                    <input type="submit" value="Update config">
                </div>
            </div>
        </div>
    </div>
</form>